# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/
*.iml

# Logs and databases
*.log
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Misc
*.bak
*.swp

